{% extends "base.html" %}
{% block title %}Login - EASY SMS PANEL{% endblock %}
{% block content %}
<div class="card" style="max-width: 450px; margin: 60px auto;">
    <h2 style="text-align:center; color:#38bdf8;">Sign In</h2>
    <form method="POST" action="/login">
        <label>Username</label>
        <input type="text" name="username" placeholder="Enter Username" required>
        <label>Password</label>
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}
